<form method="GET" action="/search">

    <label for="search-term">Search:</label>
    <input type="text" name="search-term" size="50" id="search-term" placeholder="Please enter search term">

    <div>
        <button type="submit">SEARCH</button>
    </div>

</form>
